/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine reset */

/* Inizio regole generali */
.container{
  width: calc(100% - 20px);
  margin: 10px;
}
/* Fine regole generali */

/* Inizio regole header */
header{
  width: 100%;
  height: 20vh;
  background: yellow;
}
/* Fine regole header */

/* Inizio regole main */
main{
  margin: 10px 0;
  width: 100%;
  height: calc(70vh - 40px);
}

main::after{
  content: '';
  display: table;
  clear: both;
}

main .col {
  float: left;
}

main .left{
  background: pink;
  width: calc(25% - 5px);
  height: 45vh;
}

main .center{
  width: calc(50% - 10px);
  height: 100%;
  background: purple;
  margin: 0 10px;
}

main .right{
  width: calc(25% - 5px);
}

main .right > div{
  width: 100%;
  height: 30vh;
  background: pink;

}

main .right .top{
  margin-bottom: 25px;
}
/* Fine regole main */

/* Inizio regole footer */
footer{
  width: 100%;
  height: 10vh;
  background: cyan;
}
/* Fine regole footer */
